<div class="container-fluid h-100 w-100 text-center justify-content-center">
  <div class="row">
    <div class="col">
      <br>
      <h4>GeoTiff Lab</h4>
      <br>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div id="map" class="map" style="width: 1100px; height: 800px;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div>NDVI:
        <span name="ndvi">
          {{ output }}
        </span>
      </div>
    </div>
  </div>
</div>